@model List<Course>
@{
int count=1;
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Courses</h1>
        
           
            <div class="card mb-4">
                <div class="card-header">
                    <a class="btn btn-primary" asp-controller="Course" asp-action="Create"> Add</a>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>N</th>
                                <th>Course Name</th>
                                <th>Course Content</th>
                                <th>Course Category</th>
                                <th>Author Name</th>
                                <th>Cover Image</th>
                                <th>Author Image</th>
                                <th>Setting</th>
                            </tr>
                        </thead>
                     
                        <tbody>
                             @foreach (var Course in Model)
                             {
                            <tr>
                                <td>@count</td>
                                <td>@Course.Name</td>
                                <td>@Course.Content</td>
                                <td>@Course.Category</td>
                                <td>@Course.AuthorName</td>
                                <td><img src="~/assets/Upload/@Course.CoverImage" width="150px" /></td>
                                <td><img src="~/assets/Upload/@Course.AuthorImage" width="150px" /></td>
                                <td><a asp-controller="Course" asp-action="Delete" asp-route-id="@Course.Id">Delete</a></td>

                            </tr>
                                 count++;
                             }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2021</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>